<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap HTML5 Template</title>
    <meta name="description" content="Bootstrap Theme by j0h4nf">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.scss">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.scss">
    <link rel="stylesheet" type="text/css" href="css/style.scss">
</head>
<!--navbar-->
<!--banner-->
<section id="banner" class="banner">
    <div class="bg-colora">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-responsive" style="width: 80px; margin-top: -21px;"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="menu-text-color" href="http://trouvezmonprenom.com/#banner">Accueil</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#service">Album Photo</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#about">la liste de naissance</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#testimonial">Témoignages</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#contact">Contactez-nous</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
<!--/ navbar-->
<!--card-->
<section id="service" class="section-paddinga">
    <div class="card-trip">
        <img src="images/babyyy.png" class="img-responsive">
    </div>
    <div class="card-trip-infos">
        <div>
            <h2>J’ai un prénom à la con, et alors ?</h2>
            <hr class="botm-line">
            <p>
                Fardeau pour les uns, fierté pour les autres… Quand les parents se lâchent pour choisir le « petit nom » de leur enfant, il ne reste plus qu’à l’assumer.Techa, Godelieve, Perceval et les autres ont accepté de témoigner ! Des prénoms innommables, mais ils sont bien obligés de faire avec !
            </p>
            <p>
                Parfois en plus des photos de famille gênantes, on porte un prénom gênant… L’originalité est à la mode : « En 2011, un enfant sur dix a ainsi reçu un prénom dit rare, c’est-à-dire donné à un ou deux nouveaux-nés dans l’année selon les critères établis par l’Insee », explique Baptiste Coulmont, sociologue et auteur de Sociologie des prénoms (ed. La Découverte). Et l’on peut compter sur l’imagination de certains parents pour concocter des états civils toujours plus farfelus : Goldorak, Zyt, Starsky, Anakin, Marcienne… La libération du choix du prénom a commencé en 1993. Les officiers d’état civil ne peuvent plus refuser son inscription sur les registres. Seule latitude : avertir le procureur s’ils le jugent contraire aux intérêts de l’enfant.
            </p>
            <p>
                Mais en quoi un prénom est-il jugé contraire aux intérêts de l’enfant ? « Il peut être facteur d’exclusion sociale, voire scolaire », expose dans Psychologie des prénoms (ed. Dunod) Nicolas Guéguen, chercheur à l’université de Bretagne-Sud. Il cite l’étude de deux psychologues américains qui ont demandé à des enseignants de noter des rédactions d’enfants de 10 ans. Les copies étaient semblables mais sur chacune un prénom différent. Bilan : les enfants au prénom peu fréquent étaient plus durement notés. François Bonifaix, psychanalyste et auteur du Traumatisme du prénom (ed. Dune95), se veut rassurant : « On peut très bien vivre avec un prénom original s’il est assumé. Il est même parfois gage d’une indépendance d’esprit et de caractère. » Et que les porteurs de prénoms courants cessent de ricaner. Personne n’est à l’abri de tomber amoureux d’un Harry Zona. Ou d’un Andy Capet.
                <p class="tem"><strong>Témoignages :</strong></p>
                <p>
                    <strong>Cosette, 29 ans, Paris :</strong> <em>« Je préfère cent fois m’appeler Cosette que Micheline ou Roberte. Quitte à avoir un prénom rare, au moins celui-là me va comme un gant : je suis très bavarde. »</em>
                </p>
                <p>
                    <strong>Techa, 24 ans, Lille :</strong> <em>« Ce prénom est d’origine basque et se prononce « técha ». Disons que j’ai tendance à le préciser en premier lieu, histoire d’éviter les blagues douteuses avec « teucha » en verlan. »</em>
                </p>
                <p>
                    <strong>Godelieve, 23 ans, Toulouse :</strong> <em>« Mes parents ne savent pas expliquer pourquoi ils ont trouvé ce prénom joli. Moi, je suis persuadée qu’ils étaient bourrés. Et pas la peine de faire diversion avec un surnom : le mien est God. »</em>
                </p>
                <p>
                    <strong>Bulle, 24 ans, Londres :</strong> <em>« J’étais une petite fille très discrète et je me réfugiais souvent dans mon monde. On ne pouvait trouver plus adapté à mon caractère. »</em>
                </p>
                <p>
                    <strong>Pomme, 29 ans, Paris, en couple avec Anicet :</strong> <em>« On a déjà réfléchi aux prénoms de nos futurs enfants. J’aime bien Clémentine et Prune. Mais il ne faut peut-être pas exagérer… »</em>
                </p>
                <p>
                    <strong>Etoile, 26 ans, Bordeaux :</strong> <em>« Le seul point noir ? Etre obligée de bannir de ma garde-robe toutes les fringues avec des étoiles. Histoire de ne pas donner le bâton pour me faire battre. »</em>
                </p>
                <p>
                    <strong>Perceval, 21 ans, Lille :</strong> <em>« Croyez-le ou non, j’ai fait cinq ans d’escrime. Et je n’ai jamais été aussi bon dans un sport. »</em>
                </p>
            </p>
        </div>
        <!-- <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
    </div>
</section>
<!--/ card-->
<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Contactez-nous</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-4">
                <h3>Contact</h3>
                <div class="space"></div>
                <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>25 Rue Albert Marquet<br>78612 Villennes sur Seine</p>
                <div class="space"></div>
                <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@popojojo.com</p>
                <div class="space"></div>
                <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>01 XX XX XX XX</p>
            </div>
            <div class="col-md-8 col-sm-8 marb20">
                <div class="contact-info">
                    <h3 class="cnt-ttl">Pour nous laisser un message ?</h3>
                    <div class="space"></div>
                    <div id="sendmessage">Votre message a été envoyé. Merci!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Votre Nom" data-rule="minlen:1" data-msg="Nombre de caractères insuffisant" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Merci de rentrer un email valide" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Nombre de caractères insuffisant" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Merci d'écrire un message" placeholder="Votre Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="form-action">
                            <button type="submit" class="btn btn-form">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ contact-->
<!--footer-->
<footer id="footer">
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright j0h4nf. All Rights Reserved
                    <div class="credits">
                        Designed by <a href="https://j0h4nf.com/">j0h4nf.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->