<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap HTML5 Template</title>
    <meta name="description" content="Bootstrap Theme by j0h4nf">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.scss">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.scss">
    <link rel="stylesheet" type="text/css" href="css/style.scss">
</head>
<!--navbar-->
<!--banner-->
<section id="banner" class="banner">
    <div class="bg-colora">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-responsive" style="width: 80px; margin-top: -21px;"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="menu-text-color" href="http://trouvezmonprenom.com">Accueil</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#service">Le mot du grand-frère</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#about">A quoi ça sert</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#booking">Liste de naissance</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#testimonial">Témoignages</a></li>
                            <li class=""><a class="menu-text-color" href="http://trouvezmonprenom.com/#contact">Contactez-nous</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
<!--/ navbar-->
<!--card-->
<section id="service" class="section-paddinga">
    <div class="titrenaiss">
        <h2 class="ser-title">Liste de Naissance</h2>
        <hr class="botm-line">
    </div>
    <div class="cards">
        <div class="card-tripb">
            <img src="images/liste1.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Trousse de soin pour bébé</h2>
                    <p>Une trousse de soin complète de 9 accessoires essentiels a été conçue par Babymoov pour le soin et la toilette de bébé au quotidien.</p>
                    <a class="btn btn-flat pull-right" href="https://fr.shop-orchestra.com/fr/bain/thermometre-produit-de-soin/trousse-de-soin-pour-bebe---peche-PBRC5U.html?gclid=Cj0KCQjw-O35BRDVARIsAJU5mQWvD-4KzXwshTt7pkJWh06AOjhu7rz3OB05KaZDRnS3PcAhGXT8zScaAgPSEALw_wcB&gclsrc=aw.ds">Acheter</a>
                </div>
            </div>
        </div>
        <div class="card-tripb">
            <img src="images/liste2.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Cape de bain</h2>
                    <p>Toinette la serviette. On rêverait tous d’être un bébé pour s’emmitoufler dans cette cape de bain, non ? Un indispensable dès la naissance et qui durera longtemps !</p>
                    <a class="btn btn-flat pull-right" href="https://www.petitpicotin.com/fr/capes-de-bain/1122-cape-de-bain-personnalisee-avec-son-prenom.html">Acheter</a>
                </div>
            </div>
        </div>
        <div class="card-tripb">
            <img src="images/liste3.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>La veilleuse lapin</h2>
                    <p>Joseph est une veilleuse sympathique. Assis sur le bord d’une commande ou un tabouret, c’est l’accessoire déco qui fait merveille.</p>
                    <a class="btn btn-flat pull-right" href="https://www.lespetitsraffineurs.com/deco/792-joseph-la-veilleuse-lapin.html?gclid=Cj0KCQjw-O35BRDVARIsAJU5mQX5JPx8Jh9aXbbVl8XmHNFM_eeGPdv5TThDpCcxn1kSei04bh3Bgm4aAo7MEALw_wcB">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-tripb">
            <img src="images/liste4.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>L'ananas intello</h2>
                    <p>Attention, ananas recordman : c'est la seule peluche qui peut porter les lunettes sans se faire appeler binoclard. Normal, son style coloré est détonant !</p>
                    <a class="btn btn-flat pull-right" href="https://www.lespetitsraffineurs.com/peluches/320-l-ananas-intello.html">Acheter</a>
                </div>
            </div>
        </div>
        <div class="card-tripb">
            <img src="images/liste5.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Parc Bébé</h2>
                    <p>Le parc pliable en bois de hêtre gris permettra à bébé de jouer et de se reposer dans un confort absolu ! Son design simple et épuré s'adaptera à tout style d'intérieur.</p>
                    <a class="btn btn-flat pull-right" href="https://www.berceaumagique.com/produit_at4-parc-pliable-en-bois-de-hetre-webaby-gris-70-x-100-cm_144016.html">Acheter</a>
                </div>
            </div>
        </div>
        <div class="card-tripb">
            <img src="images/liste6.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Poussette JOIE Evalite Duo</h2>
                    <p>Poussette tandem compacte et légère qui répond spécifiquement aux besoins des parents ayant des enfants d’âges rapprochés.</p>
                    <a class="btn btn-flat pull-right" href="https://www.vertbaudet.fr/poussette-double-joie-evalite-duo-bleu-deep-sea.htm?ProductId=703030109&FiltreCouleur=6409&t=1">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-tripb">
            <img src="images/liste7.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Coussin Lapin Jersey Gris</h2>
                    <p>Donnez des airs rigolos à votre petit bout avec en forme d'oreille de Lapin Jersey Gris pour votre chaise Childwood.</p>
                    <a class="btn btn-flat pull-right" href="https://www.madeinbebe.com/boutique/fr/coussin-de-chaise-rabbit-jersey-gris-child-wood/a91544">Acheter</a>
                </div>
            </div>
        </div>
        <div class="card-tripb">
            <img src="images/liste8.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Langes à pois</h2>
                    <p>Cet set de deux langes est respectueux de la peau de votre enfant. En lange, doudou ou petite couverture, il trouvera sa place dans votre quotidien.</p>
                    <a class="btn btn-flat pull-right" href="https://fr.smallable.com/langes-hannah-a-pois-en-mousseline-de-coton-bio-set-de-2-gris-liewood-121912.html">Acheter</a>
                </div>
            </div>
        </div>
        <div class="card-tripb">
            <img src="images/liste9.jpg" />
            <div class="card-trip-infosb">
                <div>
                    <h2>Chaussons en tricot bébé</h2>
                    <p>Des jolis chaussons en tricot enrichi de laine, un cocon de douceur et de chaleur en point mousse pour un parfait coordonné...</p>
                    <a class="btn btn-flat pull-right" href="https://www.cyrillus.fr/chaussons-en-tricot-bebe-ecru.htm?ProductId=700080229&FiltreCouleur=6365&FiltreTaille=6%2F12M&tool=recherche_partenaire">Acheter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ card-->
<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Contactez-nous</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-4">
                <h3>Contact</h3>
                <div class="space"></div>
                <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>25 Rue Albert Marquet<br>78612 Villennes sur Seine</p>
                <div class="space"></div>
                <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@popojojo.com</p>
                <div class="space"></div>
                <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>01 XX XX XX XX</p>
            </div>
            <div class="col-md-8 col-sm-8 marb20">
                <div class="contact-info">
                    <h3 class="cnt-ttl">Pour nous laisser un message ?</h3>
                    <div class="space"></div>
                    <div id="sendmessage">Votre message a été envoyé. Merci!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Votre Nom" data-rule="minlen:1" data-msg="Nombre de caractères insuffisant" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Merci de rentrer un email valide" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Nombre de caractères insuffisant" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Merci d'écrire un message" placeholder="Votre Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="form-action">
                            <button type="submit" class="btn btn-form">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ contact-->
<!--footer-->
<footer id="footer">
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright j0h4nf. All Rights Reserved
                    <div class="credits">
                        Designed by <a href="https://j0h4nf.com/">j0h4nf.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->